html {
    background-image : url("wallpaper1.jpg");
    margin : 0 0 0;
    width : 100%;
    height : 100%;
    background-color : rgb(204, 207, 214, 1);
}
header {
    width : 1000%;
    height : 10%;
    color :rgba(69, 69, 146, 1);
    
}
body {
    background-color : rgba(204, 207, 214, 0.43);
    margin : 0 0 0;
    text-align : justify;
    font-weight : normal;
    height :100%;
}
h1 {
    width : 10%;
    height : 100%;
    background-color : rgb(204, 207, 214, 1);
    color :black;
    margin-top: 0px;
    padding-left 30px;
}
h2 {
    display : flex; 
    align-items : center;
    color : navy;
    margin-left : 20px;
}

.directory {
    display: flex;
    flex-direction : column;
    width : 10%;
    color : navy;
    margin-left: 10px;
}
p {
    margin-left : 20%;
    margin-right : 20%;
}
.sidenav {

    height: 90%;
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:navy;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(204, 207, 214, 0.43);
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

button {
    padding : 30px;
    font-weight : bolder
}